@{
    ViewData["Title"] = "CACAO TEST";
}

<div class="row">
    <div class="col-md-offset-5 col-md-3">
        <h2>Cacao University</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-5">
        <button type="button" id="btnNewStudent" class="btn btn-primary">New Student</button>
    </div>
</div>
<input type="hidden" id="txtTotalStudentAllowed" value="0" />
<input type="hidden" id="txtTotalStudent" value="0" />

<div class="row" id="divNewStudent" style="display:none; ">
    <div class="col-md-offset-1 col-md-5">
        <h2>Nuevo Estudiante</h2>
        <form>
            <div class="form-group">
                <label for="txtStudentName">Name</label>
                <input type="text" class="form-control" id="txtStudentName" placeholder="Enter student name">
            </div>
            <div class="form-group">
                <label for="txtOriginalScore">Original Score</label>
                <input type="number" class="form-control" id="txtOriginalScore" placeholder="Enter original score" min="0" max="100">
            </div>
            <button type="button" id="btnSaveNewStudent" class="btn btn-success">Guardar</button>
            <button type="button" id="btnCancelNewStudent" class="btn btn-danger">Cancelar</button>
        </form>
    </div>
</div>
<br />
<div class="row" id="divStudents">
    <div class="col-md-offset-1 col-md-10">
        <table id="tbStudents" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estudiante</th>
                    <th>Calificación Original</th>
                    <th>Calificación Final</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    var table = null;

    $(document).ready(function () {
        LoadStudents();
    });

    $('#btnNewStudent').click(function () {
        if (!validTotalStudent()) {
            return;
        }
        $('#divNewStudent').show('fast');
        $('#divStudents').hide('fast');
        $('#btnNewStudent').hide('fast');
    });

    $('#btnCancelNewStudent').click(function () {
        ClearInputs();
    });

    $('#btnSaveNewStudent').click(function () {
        var name = $('#txtStudentName').val();
        var oriScore = $('#txtOriginalScore').val();

        if (name == '') {
            alert('Ingresa el nombre del estudiante');
            return;
        }

        if (oriScore == '') {
            alert('Favor de ingresar la calificacion inicial del estudiante.');
            return;
        } else if (parseInt(oriScore) <= 0 || parseInt(oriScore) > 100) {
            alert('La califiacion debe ser mayor a 0 y menor a 100.');
            return;
        }

        var json = {
            name,
            origin_score: oriScore
        };

        $.ajax({
            url: '@Url.Action("SaveStudent", "Home")',
            async: false,
            headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
            type: 'POST',
            datatype: 'application/json',
            data: JSON.stringify(json),
            success: function (datos) {
                LoadStudents();
            }
        });

        ClearInputs();
    });

    function ClearInputs() {
        $('#txtStudentName').val('');
        $('#txtOriginalScore').val(0);
        $('#divNewStudent').hide('fast');
        $('#divStudents').show('fast');
        $('#btnNewStudent').show('fast');
    }

    function LoadStudents() {
        if ($.fn.DataTable.isDataTable('#tbStudents')) {
            $('#tbStudents').DataTable().destroy();
        }

        $('#tbStudents tbody').empty();

        table = $('#tbStudents');
        var urlApiLocal = '@Url.Action("Students", "Home")';

        $.ajax({
            url: urlApiLocal,
            type: 'GET',
            async: false,
            datatype: 'application/json',
            //data: filtros,
            success: function (datos) {
                if (datos.totalStudentAllowed <= 0) {
                    askUserTotalStudents();
                } else {
                }
                ClearInputs();
                console.log(datos);
                table.DataTable({
                    "data": datos.data.data,
                    "columns": [
                        { "data": "id", "orderable": false },
                        { "data": "name" },
                        { "data": "origin_score", "orderable": false },
                        { "data": "final_score", "orderable": false }
                    ],
                    buttons: [
                        'copy', 'excel', 'pdf'
                    ],
                    "order": [0, 'asc'],
                    "language": {
                        "paginate": {
                            "next": "Siguiente",
                            "previous": "Anterior",
                            "first": "Primero",
                            "last": "Último"
                        },
                        "search": "Buscar estudiante",
                        "zeroRecords": "No se encuentraron estudiantes con los criterios de búsqueda",
                        "emptyTable": "No hay estudiantes que mostrar",
                        "lengthMenu": "Muestra _MENU_ estudiantes",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ estudiantes"
                    },
                    "scrollY": "400px",
                    "scrollcollapse": true,
                    "paging": true
                });
                $('#txtTotalStudent').val(datos.data.data.length);
            }
        });
    }

    function askUserTotalStudents() {
        var total = '';
        var aux = parseInt(total);
        while (!Number.isInteger(aux)) {
            total = prompt("Ingrese el límite permitido de estudiantes.", "60");
            aux = parseInt(total);
            if (total != null && Number.isInteger(aux)) {
                $('#txtTotalStudentAllowed').val(aux);
                saveAllowedStudents(total);
            } else {
                alert('Ingresar un valor numérico');
            }
        }
    }

    function validTotalStudent() {
        var totalAllowed = $('#txtTotalStudentAllowed').val();
        var currentTotal = $('#txtTotalStudent').val();

        if (currentTotal !== '0' && currentTotal >= totalAllowed) {
            alert('Ha llegado al límite permitido de registro estipulado al inicio.');
            return false;
        }

        return true;
    }

    function saveAllowedStudents(total) {
        $.ajax({
            url: '@Url.Action("AllowedStudetn", "Home")',
            type: 'POST',
            async: false,
            datatype: 'application/json',
            data: {
                allowed: total
            },
            success: function (datos) {
                console.log('save');
            }
        });
    }

</script>
